*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    background: #001e4d;
}
.Motiur{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;


}

.app h1{
    font-size: 25px;
    color:black;
    font-weight: 600;
    border-bottom: 1cm solid #d41d1d;
    padding-bottom: 5px;
}
.quiz{
    padding: 20px 0;
}
.quiz h2 {
    font-size: 18px;
    color:cadetblue;
    font-weight: 600 ;
}
.btn{
    background:white;
    color: black;
    font-weight: 500;
    width: 100%;
    border: 2px solid yellowgreen;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4;
    cursor: pointer;
    transition: all 0.3s;
}
.bt :hover no [disabled]{
background: #fff;
color:grey;
}
.btn:disable{
    cursor: no-drop;
}

#next-btn{
    background: yellowgreen;
    color:black;
font-weight: 500;
width: 150px;
border: 0;
padding: 10px;
margin: 20px auto 0;
border-radius: 4px;
cursor: pointer;
display: block;

}
.correct{
    background: green;
}
.incorrect{
 background: #d41d1d;   
}