body {
    font-family: 'Poppins', sans-serif;
    background:white;
    display: flex;
    justify-content: center;
  }

  
  #next-btn{
    background: yellow;
    color:black;
font-weight: 100;
width: 100px;
border: 0;
padding: 10px;
margin: 20px auto 0;
border-radius: 5px;
cursor: pointer;
display: block;

}